@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,500;0,600;1,400&display=swap');
*{
    font-family: "poppins", sans-serif;
    text-transform: capitalize;
    text-decoration: none;
    outline: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection{
    background: #f9580e;
    color: #fff;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background-color: #0c0b0b;
}

.container{
    width: 100%;
    height: 100%;
    background-color: #171717;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-content{
    width: 100%;
    max-width: 450px;
    background-color: #0c0b0b;
    padding: 50px 60px 70px;
    text-align: center;
    border-radius: 25px;
    margin-top: 50px;
    margin-bottom: 70px;
}

.form-content h1{
    font-size: 30px;
    margin-bottom: 60px;
    color: #f9580e;
    position: relative;
}

.form-content h1::after{
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: #ffc246;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}

.input-field{
    background-color: #171717;
    margin: 15px 0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    transition: 0.5s;
    overflow: hidden;
}
.container .form-content .input-group input{
    height: 4rem;
    width: 100%;
    background: #fff;
    border-radius: 5rem;
    padding: 0 1rem;
    margin: 1rem 0;
    color: #f9580e;
    font-size: 1.7rem;
    transition: .2s linear;
    margin-left: 5px;
}

.input-field i{
    color: #ffc246;
    height: 3.8rem;
    width: 4.2rem;
    line-height: 4.2rem;
    text-align: center;
    border-radius: 50%;
    color: #ffc246;
    border: .2rem solid #ffc246;
    font-size: 2rem;
    margin: 0 .1rem; 
    transition: .2s linear;
}

.btn-field .label{
    color: #fff;
}

form p{
    color: #fff;
    text-align: left;
    font-size: 13px;
}

form p a{
    color: #f9580e;
    margin-left: 5px;
    font-size: 13px;
}

.btn-field button{
    height: 5rem;
    width: 17rem;
    background: #f9580e;
    color: #fff;
    cursor: pointer;
    font-size: 2rem;
    transition: .2s;
    box-shadow: 0 .3rem 1rem rgba(0, 0 ,0, .3);
    border-radius: 50px;
    margin-bottom: -20px;
    margin-top: 30px;
}

.btn-field button:hover{
    background: none;
    color: #f9580e;
    border: .2rem  solid #f9580e;
}

.btn-back button{
    height: 5rem;
    width: 17rem;
    background: #f9580e;    
    cursor: pointer;
    transition: .2s;
    box-shadow: 0 .3rem 1rem rgba(0, 0 ,0, .3);
    border-radius: 50px;
    margin-bottom: -20px;
    margin-top: 40px;

}

.btn-back button a{
    color: #fff;
    font-size: 2rem;
    transition: .2s;
}

.btn-back button:hover{
    background: none;    
    border: .2rem  solid #f9580e;
    color: #f9580e;
}

#informacion{
    display: none;
    color: #f9580e;
    font-size: 30px;
    text-align: center;
}

#datos {
    background-color: #171717;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 50%;
    margin-top: 16px;
    border-radius: 10px;
    margin-left: 25%;
}

th, td {
    border: 1px solid #f9580e;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #ffc246;
    color: #fff;
    text-align: center;
}

